.moblieBg {
  display: none;
}

@media screen and (max-width: 768px) {
  .contactUs {
    position: relative;
  }
  .moblieBg {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
