.inner {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.visual {
  background-size: cover;
  position: relative;
  width: 100%;
}
.visual > .inner {
  display: flex;
  height: 610px;
  position: relative;
  justify-content: center;
}
.visual .visualwrite {
  width: 35%;
  font-size: clamp(3vh, 2.4vw, 5vh);
  top: 0;
  bottom: 0;
  margin: auto;
  left: 50px;
  color: white;
  font-weight: bold;
}
.visual .visualwrite .visualwriteh2 {
  top: 0;
  bottom: 0;
  margin: auto;
  padding-top: 60px;
  text-align: left;
}
.visual .video {
  width: 40%;
  min-width: 250px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.visual .video video {
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  padding-top: 60px;
}
.visual .choice {
  height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.visual .choice .inner {
  max-width: 550px;
  display: flex;
  height: 100%;
}
.visual .choice .left {
  background-color: #fff;
  width: 50%;
}
.visual .choice .right {
  width: 50%;
  transition: all 0.4s;
}
.visual .choice .left div {
  padding: 16px 0;
}
.visual .choice .right div {
  color: white;
  padding: 16px 0;
  transition: all 0.4s;
}
.visual .choice .right:hover {
  background-color: rgba(245, 241, 241, 0.5);
}

.visual .choice .right:hover div {
  color: #333;
}
.visual .fadein {
  /* opacity: 0; */
}
.fadein1 {
  position: relative;
  overflow: hidden;
  animation: fadein1 1.7s ease;
}
@keyframes fadein1 {
  0% {
    opacity: 0;
    /* transf
    orm: translateY(20px); */
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.fadein2 {
  position: relative;
  overflow: hidden;
  animation: fadein2 3s ease;
}
@keyframes fadein2 {
  0% {
    opacity: 0;
    /* transform: translateY(20px); */
  }
  30% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@media screen and (max-width: 768px) {
  .visual .video video {
    padding-top: 0;
  }
  .visual .visualwrite .visualwriteh2 {
    font-size: 25px;
    padding-top: 0;
  }
}

@media screen and (max-width: 500px) {
  /* VISUAL */
  .visual > .inner {
    flex-direction: column;
    height: 450px;
  }
  .visual .visualwrite {
    font-size: 10px;
    width: 80%;
    margin-top: 70px;
    margin-bottom: 0;
  }
  .visual .visualwrite .visualwriteh2 {
    font-size: 20px;
    padding: 0 20px;
  }
  .visual .video {
    margin-top: 35px;
  }
}
